<div class="container">
  <h3>login</h3>
  <%= form_for(:session, url: login_path) do |f| %>

    <div class="input-field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="input-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.submit "login" %>
    </div>

  <% end %>

</div>
