<div class="container">
  <h3>edit this link</h3>
  <%= form_for @link, url: link_path(@link) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :url %>
    <%= f.text_field :url %>

    <%= f.submit "update link" %>
   <% end %>
</div>
