<div class="container">
  <h3>submit a link</h3>
  <%= form_for(@link) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :url %>
    <%= f.url_field :url %>

    <%= f.submit "submit link" %>
  <% end %>

  <br>

  <h3>all links</h3>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>link</th>
        <th>read?</th>
        <th>change status</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
      <tr>
        <th><%= link.title %></th>
        <th><%= link_to "link", link.url %></th>
        <th><%= link.read %></th>
        <% if link.read? %>
          <th><%= link_to "mark as unread", link_path(link.id, link: {read: false}), method: :put %></th>
        <% else %>
          <th><%= link_to "mark as read", link_path(link.id, link: {read: true}), method: :put %></th>
        <% end %>
        <th><%= link_to "edit", edit_link_path(link) %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
